{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-multi-spaces": "off",
    "import/prefer-default-export": "off",
    "import/extensions": [
      "error",
      "never",
      {
        "json": "always",
        "ts": "never"
      }
    ]
  }
}
